<div *ngIf="applicant">
    <dl class="row">
        <dt class="col-sm-3">{{ applicant.fullName }}</dt>
        <dd class="col-sm-9">{{ applicant.email }}</dd>
  
        <dt class="col-sm-3">Working time</dt>
        <dd class="col-sm-9">{{ applicant.workingTime }}</dd>
  
        <dt class="col-sm-3">Min salary</dt>
        <dd class="col-sm-9">{{ applicant.monthlyMinSalary*12 }}</dd>
  
        <dt class="col-sm-3">Degrees</dt>
        <dd class="col-sm-9">
          <ul class="list-inline" *ngFor="let degree of applicant.degrees">
            <li class="list-inline-item">{{ degree.name }}</li>
          </ul>
        </dd>
  
        <dt class="col-sm-3">Skills</dt>
        <dd class="col-sm-9">
          <ul class="list-inline" *ngFor="let skill of applicant.skills">
            <li class="list-inline-item">{{ skill.name }} - {{ skill.knowledgeLevel }}</li>
          </ul>
        </dd>
    </dl>
</div>
<div *ngIf="jobs">
  <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Working time</th>
              <th scope="col">Salary range</th>
              <th scope="col">Required degrees</th>
              <th scope="col">Required skills</th>
              <th scope="col">Required knowledge</th>
              <th scope="col">Company name</th>
              <th scope="col">Company contact</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of jobs">
                  <th scope="row">{{ job.name }}</th>
                  <td>{{ job.description }}</td>
                  <td>{{ job.workingTime }}</td>
                  <td>{{ job.minYearlySalary }} - {{ job.maxYearlySalary }}</td>
                  <td>
                      <ul class="list-inline" *ngFor="let degree of job.degrees">
                          <li class="list-inline-item">{{ degree.name }}</li>
                        </ul>
                  </td>
                  <td>
                      <ul class="list-inline" *ngFor="let skill of job.skills">
                          <li class="list-inline-item">{{ skill.name }}</li>
                        </ul>
                  </td>
                  <td>{{ sumRequiredKnowledge(job) }}</td>
                  <td>{{ job.companyName }}</td>
                  <td>{{ job.companyContactNumber }}</td>
            </tr>
          </tbody>
        </table>
  </div>