<div class="row">
    <div class="col-md-4 offset-md-4">
      <h1>Job offer</h1>
  
      <form (ngSubmit)="addJob()" [formGroup]="jobForm">
  
        <div class="form-group">
          <label for="name" id="name-label">Name</label>
          <input id="name" class="form-control" formControlName="name">
          <div *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">Name is required</div>
        </div>
  
        <div class="form-group">
          <label for="description" id="description-label">Description</label>
          <input id="description" class="form-control" formControlName="description">
          <div *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('required')">Description is required</div>
        </div>
  
        <div class="form-group">
          <label for="minYearlySalary" id="minYearlySalary-label">Minimun yearly salary</label>
          <input id="minYearlySalary" class="form-control" formControlName="minYearlySalary" type="number">
          <div *ngIf="minYearlySalaryCtrl.dirty && minYearlySalaryCtrl.hasError('required')">Minimun yearly salary is required</div>
        </div>

        <div class="form-group">
          <label for="maxYearlySalary" id="maxYearlySalary-label">Maximun yearly salary</label>
          <input id="maxYearlySalary" class="form-control" formControlName="maxYearlySalary" type="number">
          <div *ngIf="maxYearlySalaryCtrl.dirty && maxYearlySalaryCtrl.hasError('required')">Maximun yearly salary is required</div>
        </div>
  
        <div class="form-group">
          <label class="mr-sm-2" for="inlineWorkingTimeSelect">Working time</label>
          <select class="custom-select mr-sm-2" formControlName="workingTime" id="inlineWorkingTimeSelect">
            <option *ngFor="let workingTime of workingTimes" [ngValue]="workingTime">
              {{ workingTime.abbrev }}
            </option>
          </select>
        </div>
  
        <div formArrayName="degrees">
          <label class="mr-sm-2" for="inlineDegrees">Degrees</label>
          <button class="btn btn-secondary btn-sm" type="button" (click)="addDegree()" id="inlineDegrees">+</button>
          <div *ngFor="let degree of degreeForms.controls; let i=index" [formGroupName]="i">
              <input placeholder="name" formControlName="name">
              <button class="btn btn-danger btn-sm" type="button" (click)="removeDegreeItem(i)">-</button>
          </div>
        </div>
        
        <div formArrayName="skills">
          <label class="mr-sm-2" for="inlineSkills">Skills</label>
          <button class="btn btn-secondary btn-sm" type="button" (click)="addSkill()" id="inlineSkills">+</button>
          <div *ngFor="let skill of skillForms.controls; let i=index" [formGroupName]="i">
              <input placeholder="name" formControlName="name">
              <input type="number" placeholder="knowledge" formControlName="knowledgeLevel">
              <button class="btn btn-danger btn-sm" type="button" (click)="removeSkillItem(i)">-</button>
          </div>
        </div>
  
        <button class="btn btn-primary" type="submit">Add job offer</button>
      </form>
    </div>
  </div>
  