<div *ngIf="companies">
<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Company name</th>
            <th scope="col">Contact number</th>
            <th scope="col">Job offers #</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
                <th scope="row">{{ company.id }}</th>
                <td>{{ company.name }}</td>
                <td>{{ company.contactNumber }}</td>
                <td>{{ company.jobs?.length || '0' }}</td>
                <td><a [routerLink]="['/job', company.id]" class="btn btn-outline-primary btn-sm">Add a job offer</a></td>
          </tr>
        </tbody>
      </table>
</div>
