<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>Applicant</h1>

    <form (ngSubmit)="addApplicant()" [formGroup]="applicantForm">

      <div class="form-group">
        <label for="fullName" id="fullName-label">Full name</label>
        <input id="fullName" class="form-control" formControlName="fullName">
        <div *ngIf="fullNameCtrl.dirty && fullNameCtrl.hasError('required')">Full name is required</div>
      </div>

      <div class="form-group">
        <label for="contact" id="contact-label">Contact number</label>
        <input id="contact" class="form-control" formControlName="contact">
        <div *ngIf="contactCtrl.dirty && contactCtrl.hasError('required')">Contact number is required</div>
      </div>

      <div class="form-group">
        <label for="email" id="email-label">Email</label>
        <input id="email" class="form-control" formControlName="email">
        <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('required')">Email is required</div>
      </div>

      <div class="form-group">
        <label for="salary" id="salary-label">Monthly salary</label>
        <input id="salary" class="form-control" formControlName="salary">
        <div *ngIf="salaryCtrl.dirty && salaryCtrl.hasError('required')">Salary is required</div>
      </div>

      <div class="form-group">
        <label class="mr-sm-2" for="inlineWorkingTimeSelect">Working time</label>
        <select class="custom-select mr-sm-2" formControlName="workingTime" id="inlineWorkingTimeSelect">
          <option *ngFor="let workingTime of workingTimes" [ngValue]="workingTime">
            {{ workingTime.abbrev }}
          </option>
        </select>
      </div>

      <div formArrayName="degrees">
        <label class="mr-sm-2" for="inlineDegrees">Degrees</label>
        <button class="btn btn-secondary btn-sm" type="button" (click)="addDegree()" id="inlineDegrees">+</button>
        <div *ngFor="let degree of degreeForms.controls; let i=index" [formGroupName]="i">
            <input placeholder="name" formControlName="name">
            <button class="btn btn-danger btn-sm" type="button" (click)="removeDegreeItem(i)">-</button>
        </div>
      </div>
      
      <div formArrayName="skills">
        <label class="mr-sm-2" for="inlineSkills">Skills</label>
        <button class="btn btn-secondary btn-sm" type="button" (click)="addSkill()" id="inlineSkills">+</button>
        <div *ngFor="let skill of skillForms.controls; let i=index" [formGroupName]="i">
            <input placeholder="name" formControlName="name">
            <input type="number" placeholder="knowledge" formControlName="knowledgeLevel">
            <button class="btn btn-danger btn-sm" type="button" (click)="removeSkillItem(i)">-</button>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Add applicant</button>
    </form>
  </div>
</div>
