<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">People Ware</a>
  <button type="button" class="navbar-toggler" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar" class="navbar-collapse" [class.collapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/companies">Companies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/jobs">Job Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/applicants">Applicants</a>
      </li>
    </ul>
  </div>
</nav>
