<div *ngIf="job">
  <dl class="row">
      <dt class="col-sm-3">{{ job.name }}</dt>
      <dd class="col-sm-9">{{ job.description }}</dd>

      <dt class="col-sm-3">Working time</dt>
      <dd class="col-sm-9">{{ job.workingTime }}</dd>

      <dt class="col-sm-3">Salary range</dt>
      <dd class="col-sm-9">{{ job.minYearlySalary }} - {{ job.maxYearlySalary }}</dd>

      <dt class="col-sm-3">Company</dt>
      <dd class="col-sm-9">{{ job.companyName }} - {{ job.companyContactNumber }}</dd>

      <dt class="col-sm-3">Required degrees</dt>
      <dd class="col-sm-9">
        <ul class="list-inline" *ngFor="let degree of job.degrees">
          <li class="list-inline-item">{{ degree.name }}</li>
        </ul>
      </dd>

      <dt class="col-sm-3">Required skills</dt>
      <dd class="col-sm-9">
        <ul class="list-inline" *ngFor="let skill of job.skills">
          <li class="list-inline-item">{{ skill.name }} - {{ skill.knowledgeLevel }}</li>
        </ul>
      </dd>
  </dl>
</div>
<div *ngIf="applicants">
  <table class="table">
          <thead>
            <tr>
              <th scope="col">Full name</th>
              <th scope="col">Contact number</th>
              <th scope="col">Email</th>
              <th scope="col">Working time</th>
              <th scope="col">Monthly salary</th>
              <th scope="col">Knowledge level</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let applicant of applicants">
                  <th scope="row">{{ applicant.fullName }}</th>
                  <td>{{ applicant.contactNumber }}</td>
                  <td>{{ applicant.email }}</td>
                  <td>{{ applicant.workingTime }}</td>
                  <td>{{ applicant.monthlyMinSalary*12 }}</td>
                  <td>{{ applicant.knowledgeLevelOfRequiredSkills }}</td>
            </tr>
          </tbody>
        </table>
  </div>
