<div *ngIf="jobs">
  <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Working time</th>
              <th scope="col">Salary range</th>
              <th scope="col">Company name</th>
              <th scope="col">Company contact</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of jobs">
                  <th scope="row">{{ job.name }}</th>
                  <td>{{ job.description }}</td>
                  <td>{{ job.workingTime }}</td>
                  <td>{{ job.minYearlySalary }} - {{ job.maxYearlySalary }}</td>
                  <td>{{ job.companyName }}</td>
                  <td>{{ job.companyContactNumber }}</td>
                  <td><a [routerLink]="['/jobs', job.id]" class="btn btn-outline-secondary btn-sm">Show match</a></td>
            </tr>
          </tbody>
        </table>
  </div>