
<div *ngIf="applicants">
  <table class="table">
          <thead>
            <tr>
              <th scope="col">Full name</th>
              <th scope="col">Contact number</th>
              <th scope="col">Email</th>
              <th scope="col">Working time</th>
              <th scope="col">Monthly salary</th>
              <th scope="col"><a [routerLink]="['/applicant']" class="btn btn-outline-primary btn-sm">Add applicant</a></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let applicant of applicants">
                  <th scope="row">{{ applicant.fullName }}</th>
                  <td>{{ applicant.contactNumber }}</td>
                  <td>{{ applicant.email }}</td>
                  <td>{{ applicant.workingTime }}</td>
                  <td>{{ applicant.monthlyMinSalary }}</td>
                  <td><a [routerLink]="['/applicants', applicant.id]" class="btn btn-outline-secondary btn-sm">Show match</a></td>
            </tr>
          </tbody>
        </table>
  </div>
